body {
    font-family: "Public Sans";
}

header img {
    width: 20%;
}

:root {
    --body-bg: white;
    --body-color: #333333;
    --anchor-color: #333333;
    --letter-spacing: 0;
}
@media (prefers-color-scheme: dark) {
    :root {
        --body-bg: #333333;
        --body-color: white;
        --anchor-color: #F9BA48;
        --letter-spacing: 0.1;
    }

    a:hover {
        color: white;
    }

    hr {
        margin-bottom: 60px;
        border-color: rgba(255, 255, 255, 0.2);
    }
}

body {
    margin: 0px;
    background-color: var(--body-bg);
    color: var(--body-color);
    letter-spacing: var(--letter-spacing);
    border: solid #F9BA48 10px;
}

a {
    color: var(--anchor-color);
}

article h2 {
    font-family: "Staatliches";
    letter-spacing: 1.5;
}
article h2:hover {
    text-decoration: underline dotted;
}

hr {
    margin-bottom: 60px;
    border-color: rgba(0, 0, 0, 0.2);
}

footer {
    margin-top: 60px;
    margin-bottom: 20px;
}
footer a {
    font-family: "Orbitron";
}